@import './loading.css';
@import './inputDate.css';

body {
  direction: rtl;
  /* font-family: 'Roboto Slab', serif; */
}

.clickable {
  cursor: pointer;
}

.bold {
  font-weight: bold;
}

.fixed-buttons {
  position: fixed;
  top: 2px;
  right: 7px;
  color: dimgray;
}

.fixed-buttons > span {
  cursor: pointer;
  margin: 0 0 0 7px;
}

.fixed-buttons > span:active {
  opacity: 0.7;
}

@media (min-width: 1200px) {
  .container {
    max-width: 1260px;
  }
}

label {
  color: #0303b4;
  font-weight: 600;
}

th {
  font-size: 19px;
}

td {
  font-size: 18px;
}

.emailCheck:active {
  opacity: 0.5;
}

.card {
  box-shadow: 4px 10px 8px -6px rgba(217, 217, 217, 0.85);
}

.login-card .card-body {
  padding: 2.25rem;
}

.patient-card .card-body {
  padding: 2.25rem;
}
.rtl {
  direction: rtl;
}
.ltr {
  direction: ltr;
}
.input-mask {
  text-align: right;
}
.react-datepicker__close-icon {
  left: 7px;
  right: unset !important;
}
.filter-active {
  background-color: gray;
}

.btn:focus,
.btn.focus {
  -webkit-box-shadow: 0 0 0 0;
  box-shadow: 0 0 0 0;
}
.w-70 {
  width: 70%;
}
.react-select {
  width: 20%;
  margin-left: 25px;
}
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.editable-date-container > .form-group {
  margin-bottom: 0;
}

.editable-date {
  width: 110px;
  height: 25px;
}
*:disabled {
  cursor: not-allowed;
}

p {
  white-space: pre-wrap;
}

.treatment-header {
  font-weight: 600;
}
