@import './loading.css';
@import './inputDate.css';

body {
  direction: rtl;
  /* font-family: 'Roboto Slab', serif; */
}

.clickable {
  cursor: pointer;
}

.bold {
  font-weight: bold;
}

.fixed-buttons {
  position: fixed;
  top: 2px;
  right: 7px;
  color: dimgray;
}

.fixed-buttons > span {
  cursor: pointer;
  margin: 0 0 0 7px;
}

.fixed-buttons > span:active {
  opacity: 0.7;
}

@media (min-width: 1200px) {
  .container {
    max-width: 1260px;
  }
}

label {
  color: #0303b4;
  font-weight: 600;
}

th {
  font-size: 19px;
}

td {
  font-size: 18px;
}

.emailCheck:active {
  opacity: 0.5;
}
/* 
.v-tooltip {
  margin-left: 50px !important;
  background-color: red !important;
} */
/* .login-container {
  background: #fff;
  border-radius: 2px;
  display: inline-block;
  height: 300px;
  margin: 1rem;
  position: relative;
  width: 50%;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
} */
.card {
  box-shadow: 4px 10px 8px -6px rgba(217, 217, 217, 0.85);
}

.login-card {
  padding: 20px 0 25px;
}
